<div class="col-md-6 col-lg-4">
  <div class="about-card">
    <%= image_tag image_path, class: "card-image" %>
    <div class="card-body">
      <h3><%= title %></h3>
      <p><%= description %></p>
    </div>
  </div>
</div>
