

<div class="col-md-4 mb-4">
  <%= image_tag image_path, alt: title, class: 'card-image mb-3' %>
  <h3 class="font-weight-bold text-white"><%= title %></h3>
  <h5 class="text-white"><%= description %></h5>
</div>
