<div class="col-md-4">
  <div class="card shadow-sm mb-4 custom-card">
    <%= image_tag image_path, alt: title, class: 'card-img-top' %>
    <div class="card-body">
      <h2 class="card-title"><%= title %></h2>
      <h5 class="card-text"><%= description %></h5>
      <a href="<%= project_link %>" class="btn btn-outline-primary" target="_blank">Link to Project</a>
    </div>
  </div>
</div>
