
.navbar {
  font-family: Arial, sans-serif;

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 10px;
    transition: color 0.3s ease;

    &:hover {
      color: #a7a8a7; /* Change to a bright accent color on hover */
    }
  }

  .navbar-toggler {
    border: none;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
}
